
/* .card-columns {
    margin:auto;
    margin-top: 4rem;
    width: 80vw;
} */

/* .card-deck {
    margin:auto;
    margin-top: 4rem;
    width: 80vw;
} */

.projectstag{
    text-align: center;
}
